---
import RootLayout from "@/layouts/RootLayout.astro";
import { Image } from "astro:assets";
import lionImage from "../assets/events/16-07-24.jpg";

const cards = [
  {
    title: "Проф. Албена Азманова: Разделението е между елити и население",
    description:
      "Interview by the Bulgarian National Radio on the violence involving Maccabi Tel Aviv fans and the ensuing media coverage",
    date: "Wed, 13 Nov 2024",
    location: "Sofia, Bulgaria",
    organisation: "BNR (Bulgarian National Radio)",
    url: "https://bnr.bg/horizont/post/102074423/prof-albena-azmanova-razdelenieto-e-mejdu-eliti-i-naselenie",
    lang: "bg",
  },
  {
    img: lionImage,
    title: "Emancipation without Utopia? (lectio magistralis)",
    description:
      "The landscape of our political imagination is void of a grand utopia able to energise the discontent and the hopes of the multitude. Why is this the case? And what ways are still available to us for radical transformation without the help of Utopia?",
    date: "Sun, 16 Jun 2024",
    location: "Rome, Italy",
    url: "https://iperfestival.it/",
  },
  {
    img: lionImage,
    title: "",
    description:
      "2nd Leuven Critical Emancipations Conference: The Production of Difference",
    date: "Sun, 16 Jun 2024",
    location: "Rome, Italy",
    url: "https://iperfestival.it/",
  },
];
---

<RootLayout>
  <h1 class="text-4xl py-4">Events</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      cards.map((card) => (
        <div
          class="max-w-sm rounded dark:bg-gray-900 overflow-hidden shadow-lg bg-white"
          key={card.title}
        >
          <a href={card.url}>
            {card.img && (
              <Image class="w-full" src={card.img} alt="Card Image" />
            )}
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2 dark:text-gray-100">
                {card.title}
              </div>
              <p class="text-gray-700 dark:text-gray-200 text-base">
                {card.description}
              </p>
	      <p class="py-4"><strong> Organized by <strong>{card.organisation}<p>
            </div>
            <div class="px-6 pt-4 pb-2 text-gray-500 dark:text-gray-400">
              {card.date}
              <div>
                <strong>Location:</strong> {card.location}
              </div>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</RootLayout>
